h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#subheader {
  color: grey;
  font-family: "Roboto";
  margin-left: 0px;
  font-size: 30px;
}
#header {
  padding-top: 5vh;
}
a {
  text-decoration: underline;
  display: inline-block;
}

#logo {
	margin-left: -9px;
}

.socialmedia {
	color: grey;
	margin-right: 10px;
	margin-top: -40px;
	margin-bottom: 20px;
}
#burger {
	color: #0080c6;
}
#banner {
	background-color: #0080c6;
	height: 25px;
}

#footer {
  background-color: #0080c6;
  height: 50px;
}

#circle-logo {
  height:50px;
  width: 50px;


}

#submit_button {
	float:right;
}

.container {
	//background-color: lightblue;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#subheader1 {
  color: grey;
  font-family: "Roboto";
  margin-left: 45%;
  font-size: 30px;
}