h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#subheader {
  color: grey;
  font-family: "Roboto";
  font-size: 25px;
}

hr {
  border-top: #efefef;
}

#header {
  width: 80%;
  margin: auto;
  padding-top: 4vh;
}

a {
  text-decoration: underline;
  display: inline-block;
}

#logo {
  margin-left: -9px;
}

.socialmedia {
  color: grey;
  margin-right: 10px;
  margin-bottom: 20px;
}

#burger {
  color: #0080c6;
}

#banner {
  background-color: #0080c6;
  height: 25px;
}

#footer {
  background-color: #0080c6;
  height: 50px;
}

#circle-logo {
  height: 50px;
  width: 50px;
}

#submit_button {
  float: right;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#subheader1 {
  color: grey;
  font-family: "Roboto";
  margin-left: 45%;
  font-size: 30px;
}

#content {
  min-height: calc(100vh - 8vh);
}

#footer {
  height: 8vh;
  line-height: 8vh;
  bottom: 0;
  background: #efefef;
}

.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 15px;
  width: 15px;
}

a {
  text-decoration: none;
}

.container {
  width: 60%;
}


/* label color */

.input-field label {
  color: #000;
}


/* label focus color */

.input-field input[type=text]:focus+label {
  color: #0080c6;
}


/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #0080c6;
  box-shadow: 0 1px 0 0 #0080c6;
}


/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid #0080c6;
  box-shadow: 0 1px 0 0 #0080c6;
}


/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid #0080c6;
  box-shadow: 0 1px 0 0 #0080c6;
}


/* icon prefix focus color */

.input-field .prefix.active {
  color: #0080c6;
}

/*#newsletter {
  width: 60%;
  margin: auto;
}*/